.col1{
    background-color: cadetblue;
    height: 100vh;
}
.col2{
    background-color: burlywood;
    height: 100vh;
}
.col3{
    background-color: chocolate;
    height: 100vh;
}
.col4{
    background-color: coral;
    height: 100vh;
}