body{
background-color: azure;
align-items: center;
justify-content: right;
display: flex;
height: 90vh;
padding: 18px;
margin-right: -80vh;
margin-bottom: -80vh;

}
.born{
    font-size:20px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:-112vh ;
    margin-bottom: 13vh;
}
.set{ 
font-size: 53px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: blue;
margin-left:-72vh ;
margin: bottom 33vh; 

}
.facebook{
    margin: 30px;vh;
    height:50vh;
    width:40vh;
    color: rgb(2, 10, 10);
    background-color: hwb(193 84% 6%);
    padding: 18px;
    border:5px solid hsl(15, 20%, 92%);
    margin-left: -10vh;
}
.face{
    height:4vh;
    width:35vh;

}
.book{
    height:4vh;
    width:35vh;

}
.fb{
    height:4 vh;
    width:35vh;
    color: blue;
    background-color: bisque;
    font-size: 4vh;

}
.dot{
    color: blue;


}
.let{
    height:6vh;
    width:35vh;
    background-color: aqua: rgb[34, 162, 34];
    color: black;
    text-align: center;
    padding:18px;

}
.but{
    font-size: larger;
    color: brown;




}